/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.section-tittle {
    color: (#181818);
    text-align: center;

    font-size: 35px;

    font-weight: 700;

}

.section-description {
    color: (#757575);
    text-align: center;

    font-size: 18px;

    font-weight: 400;


}


/* nav related styles */

nav {
    /* for inline element */
    display: flex;
    /* for all nav in same align */
    align-items: center;
    /* for spaced between nav */
    justify-content: space-between;
    margin: 0 200px;

}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    /* for no border */
    border: 0;
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding: 15px 35px;



}

/* header style */
.nav-title {
    color: var(--Dark-01, #181818);


    font-size: 45px;

    font-weight: 800;

}

/* for flex another nav bar */
nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    /* for move to right */
    margin-right: 50px;

}

/* style for anchor tag */
nav a {
    text-decoration: none;
    color: #474747
}

/* header related style */
.head {
    background: #FFF8F3;
    /* for image backround */
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    /* for avoid background repeat */
    background-repeat: no-repeat;
    /* for the background position */
    background-position: bottom right,top left;
}

.banner {

    /* for padding */
    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;

}

.banner .profile {

    width: 650px;


}

/* for banner font style */
.banner-greeting {
    font-size: 45px;
    color: #474747;
    /* for reduce two line gap */
    margin-bottom: 0;

}

.banner-tittle {
    font-size: 85px;
    font-weight: 700;
    /* for reduce two line gap */
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-paragraph {
    font-size: 18px;
}

/* main section style */
main {
    max-width: 1140px;
    /* for adjust left and right side margin */
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

/* About section style */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

.about-info-container {
    display: flex;
    /* for spaced between */
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

/* skill related style */
.skill-container {
    display: flex;
    /* gap between two box */
    gap: 24px;

}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);



}

/* for style of skill description part */
.skill-description {
    color: (#757575);

    font-size: 16px;

    font-weight: 400;


}

#what-i-do {
    padding: 30px 150px;
}

/* resume color style */
.resume-colum-tittle {
    color: (#474747);

    font-size: 30px;

    font-weight: 700;




}

.resume-container {
    display: flex;
}

/* footer style */
footer {
    display: flex;
    /* for gap between two coloum */
    gap: 100px;
    background: #FFF8F3;
    margin-top: 100px;
    padding: 130px 200px;
}

.footer-colom {
    width: 50%;


}
/* style for socail link */
.social-link a{
    margin-right: 24px;
}

.contact input,
textarea {
    display: block;
    padding: 18px 35px;
    margin-bottom: 24px;
    border-radius: 5px;
    background: (#FFF);
    color: ( #757575);
    font-size: 16px;
    border: 0;
    /* whatever your space it will be 100% */
    width: 100%;
}
/* if i create a submit button with input then i have to consider submit button specially  * /